<%- include('partials/header', {title:'Dashboard'}) %>
<%- include('partials/nav') %>
<style>
  body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
  }

  td p::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
  }
</style>
<section class="bg-[#D8D9FB] h-screen">
    <div>
        <div>
            <h1 class="text-3xl pl-16 pt-8">Elections List</h1>
        </div>
        <div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                #
              </th>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                Election Number
              </th>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                Election Name
              </th>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                Results
              </th>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                Voters
              </th>
              <th scope="col" class="text-lg font-bold text-gray-900 px-6 py-4 text-left">
                Delete Election
              </th>
            </tr>
          </thead>
          <tbody>
            <% elections.forEach(function(election){ %>
                <tr class="bg-white border-b">
                <td class="bg-[#D8D9FB] px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900"><p></p></td>
                <td class="bg-[#D8D9FB] text-lg text-gray-900 font-medium	 px-6 py-4 whitespace-nowrap">
                    <%= election.electionId %>
                </td>
                <td class="bg-[#D8D9FB] text-lg text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                    <%= election.electionName %>
                </td>
                <td class="bg-[#D8D9FB] text-lg text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                    <a class="mb-1 px-6 py-2 text-sm font-bold text-white bg-blue-500 rounded-md uppercase" href="/admin/viewResult/<%= election.electionId %>">View Result</a>
                </td>
                <td class="bg-[#D8D9FB] text-lg text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                    <a class=" mb-1 px-6 py-2 text-sm font-bold text-white bg-blue-500 rounded-md uppercase" href="/admin/viewVoters/<%= election.electionId %>">View Voters</a>
                </td>
                <form action="/admin/deleteElection" method="post">
                    <input type="hidden" name="electionId" value= <%= election.electionId %> >
                    <td class="bg-[#D8D9FB]"><button class="ml-8 mb-1 px-6 py-2 text-sm font-bold text-white bg-blue-500 rounded-md uppercase" type="submit">Delete</button></td>
                </form>
                </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
    <div class="mt-8">
        <div>
            <h2><a class="col-span-2 rounded-lg px-4 py-2 mx-16 bg-blue-700 text-blue-100 hover:bg-blue-800 duration-300" href="/admin/newElection">Generate new Election</a></h2>
        </div>
    </div>
</section>
    <%- include('partials/footer.ejs') %>

